h1 {
  font-size: 20;
  text-align: center;
  font-family: 'Jost', sans-serif;
  color: white;
}
#h1_quem_somos {
  font-size: 50px;
  margin-right: 29em;
}
#icone {
  border-radius: 50%;
  margin-left: 200px;
}
div {
  
  display: flex;
  flex-direction: row;
}
figcaption {
  font-family: 'Jost', sans-serif;
  color: white;
}
.foto_integrantes {
  border-radius: 50%;
  border: 10px solid #7c1aec;
  width: 100px;
  height: auto;
}
nav p {
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  color: white;
  text-decoration: none;
  transition: transform .2s linear;
}
b {
  color:#7c1aec;
}
header img {
  width: 2%;
  height: auto;
}
main {
  width: auto;
  height: 750px;
}
main {
  margin-top: -1.35em;
  margin-left: 0px;
  margin-right: 0px;
  background-size: cover;
  background: url(imgs/icone3x2.jpg) no-repeat;
  overflow-x: hidden;
  background-position: 50% 50%;
}
ul {
  font-size: 40px;
  font-family: 'Jost', sans-serif;
  color: white;
}
li {
  font-size: 20px;
  font-family: 'Jost', sans-serif;
  color: white;
}
h1 {
  margin-top: 0px;
}
p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  color: white;
}
a {
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  color: white;
  text-decoration: none;
  transition: transform .2s linear;
  padding-bottom: 0px;
}
a:hover {
  transform: scale(1.2);
  padding-bottom: 0px;
}
header {
  background-color: #7c1aec;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
header a {
  text-align: center;
  margin: 0 0 0 0;
  padding-bottom: 25px;
}
header p {
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  color: white;
  text-decoration: none;
  transition: transform .2s linear;
  text-align: center;
  margin: 0 0 0 0;
  padding-bottom: 5px;
}
header p:hover {
  transform: scale(1.1);
}
header h2 {
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  color: white;
  text-decoration: none;
  transition: transform .2s linear;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
  width: 300px;
}
header h2:hover{
  transform: scale(1.2);
}
.h1QSite {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 14em;
  margin-top: 0px;
}
h1 header {
  margin-top: 
  margin-left: 
}
h2 {
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-right: auto;
  margin-left: .2em;
  padding-bottom: 5px;
  width: 300px;
}
footer {
  background-color: #7c1aec;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-family: 'Roboto Mono', monospace;
}
footer a {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}
footer p {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}
body {
  margin: 0px;
  background-color: #2c2c2c;
}